body{
	background: url('../images/averageGrass.jpg');
	background-repeat: no-repeat;
	background-size: cover; 
	font-family: Georgia;
	font-weight: bold;
}
.jumbotron{
	background: #202b22;
	color: white;
	opacity: .5;
}
.well{
	background: black;
}
.buttons{
	margin-bottom: 20px;
}
.panel{
	opacity: .8;
}
.well{
	opacity: .8;
}
